.window {
  display: flex;
  margin: 2rem;
  padding: 1rem;
  flex: 1;
  border: 0.1rem solid #d9d9d9;
  border-radius: 0.8rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.gradient-loading-block {
  opacity: 0.5;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}